(
    tasks: [
        (
            id: "cmd_src_0",
            type: "tasks::Src0",
        ),
        (
            id: "cmd_src_1",
            type: "tasks::Src1",
        ),
        // 关节 0
        (
            id: "joint_0",
            type: "tasks::JointDriver",
            config: {
                "joint_index": 0,
            },
        ),
        // 关节 1
        (
            id: "joint_1",
            type: "tasks::JointDriver",
            config: {
                "joint_index": 1,
            },
        ),
        (
            id: "state_sink",
            type: "tasks::StateSink",
        ),
    ],
    cnx: [
        (src: "cmd_src_0", dst: "joint_0", msg: "ironarm_core::messages::JointCommand"),
        (src: "cmd_src_1", dst: "joint_1", msg: "ironarm_core::messages::JointCommand"),
        (src: "joint_0", dst: "state_sink", msg: "ironarm_core::messages::JointState"),
        (src: "joint_1", dst: "state_sink", msg: "ironarm_core::messages::JointState"),
    ],
    monitor: (type: "tasks::monitor::AppMonitor"),
)
